<%= content_for :body_id, "datatables" %>

<h1>Residents <%= link_to 'New Resident', new_resident_path, class: "btn btn-primary btn-new" %></h1>

<div class="content-wrapper">
	<table id="orders-datatable">
    <thead>
      <tr>
        <th tabindex="0" rowspan="1" colspan="1">Name</th>
        <th tabindex="0" rowspan="1" colspan="1">Apartment Number</th>
        <th tabindex="0" rowspan="1" colspan="1">Email</th>
      </tr>
    </thead>
    <tbody>
      <% @residents.each do |resident| %>
        <tr>
          <td><%= link_to resident.name, edit_resident_path(resident) %></td>
          <td><%= resident.apartment_number %></td>
          <td><%= resident.email %></td>
        </tr>
      <% end %>
   	</tbody>
  </table>
</div>
