<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Magic Mailroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="<%= yield :body_id %>">
    <% if current_user != nil %>
      <div id="wrapper">

        <%= render "shared/sidebar_menu" %>

        <div id="content">
          <%= render "shared/topbar" %>
          <%= render "/shared/alerts" %>
          <%= yield %>
        </div>
      </div>

      <%= yield :bottom_content %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
